<html>
<head>
    <title>grunt-html-build - Test Page</title>
    <!-- htmlbuild:style bundle -->
    <link rel="stylesheet" type="text/css" href="/path/to/css/dev.css" />
    <!-- /htmlbuild -->
    <!-- htmlbuild:style inline test -->
    <link rel="stylesheet" type="text/css" href="/path/to/css/dev-inline.css" />
    <!-- /htmlbuild -->
</head>
<body id="landing-page">
    <!-- htmlbuild:section views -->
    <!-- /htmlbuild -->

    <!-- htmlbuild:remove -->
    <script type="text/javascript" src="/path/to/js/only-dev.js"></script>
    <!-- /htmlbuild -->

    <!-- htmlbuild:script bundle -->
    <script type="text/javascript" src="/path/to/js/libs/jquery.js"></script>
    <script type="text/javascript" src="/path/to/js/libs/knockout.js"></script>
    <script type="text/javascript" src="/path/to/js/libs/underscore.js"></script>
    <script type="text/javascript" src="/path/to/js/app/module1.js"></script>
    <script type="text/javascript" src="/path/to/js/app/module2.js"></script>
    <!-- /htmlbuild -->
    <!-- htmlbuild:process -->
    <script type="text/javascript">
        var version = "<%= version %>",
            title = "<%= title %>";
    </script>
    <!-- /htmlbuild -->
    <!-- htmlbuild:script inline main -->
    <script type="text/javascript">
        main();
    </script>
    <!-- /htmlbuild -->

    <!-- htmlbuild:section optional test -->
    <!-- /htmlbuild -->
</body>
</html>